@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  h1, h2,
  button {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 1.2rem; /* 19.2px */
  }
  h1 {
    font-size: 2.25rem; /* 36px */
    margin-bottom: 1.5rem; /* 24px */
  }
  h2 {
    font-size: 1.6rem; /* 25.6px */
  }
  nav {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  button {
    @apply bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700;
  }
  a {
    font-size: 1.2rem; /* 19.2px */
    font-weight: 600;
  }
}